* {
    margin: 0%;
    padding: 0%;
}

body {
    background-image: url('islandia-auroral-boreal-capa-e1572186890534.jpg');
    background-size: 350vh;
    background-position: center center;
    background-repeat: no-repeat;
    color: #03A63C;
}

fieldset {
    margin: auto;
    background-color: #003824a4;
    width: 200px;
    padding: 10px;
}

header {
    margin: auto;
    margin-top: 20px;
    text-align: center;
}

footer {
    text-align: center;
}

